{{> nav}}
	<!-- Profil / My-Listings Container -->
<div class="Container-fluid m-5 p-0">
	<div class="row">
		<!-- Profil -->
		<div class="col-3">
			<form class="" action="/profile?_method=patch" method="post">
				<h1>Profil</h1>
				<hr>
				<p>Name</p>
				<input class="p-0 mb-3" type="text" name="name" value="{{user.name}}">
				<p>Email</p>
				<input class="p-0 mb-3" type="text" name="email" value="{{user.email}}">
				<p>Profil Picture</p>
				<span>
					<img src="{{user.avatar}}" class="rounded-circle" height="40px" alt="avatar" >
				</span>
				<input class="mt-1" type="text" name="avatar" value="{{user.avatar}}">
				<button class="btn btn-outline-primary mt-3">Submit Changes</button>
			</form>
		</div>
		<!-- My-Listings Container -->
		<div class="col-9">
			<form class="" action="/houses/create" method="get">
				<h1>My Listings</h1>
				<hr>
				<button class="btn btn-outline-primary mb-3">List a House</button>
			</form>
			{{#if houses}}
				{{#each houses as |house|}}
				<div class="card mb-3" style="max-width: 540px;">
					<div class="row g-0">
						<div class="col-md-4">
							<a href="/houses/{{house._id}}">
								<img src="{{house.photos.[0]}}" class="img-fluid rounded-start" alt="...">
							</a>
						</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{house.title}}</h5>
							<h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{house.rooms}} Rooms<strong>·</strong>{{house.price}}$/night</h6>
							<p class="card-text">{{house.description}}</p>
							<form class="" action="/houses/{{house._id}}/edit" method="get">
								<button class="btn btn-outline-primary mb-3" href="">Edit</button>
							</form>
							<form class="" action="/houses/{{house._id}}" method="get">
								<button class="btn btn-outline-primary mb-3" href=>View</button>									
							</form>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<textarea class="form-control" aria-label="With textarea">You have no Houses listed</textarea>
			{{/if}}
		</div>
	</div>
</div>
