{{> nav}}
	<!-- Profil / My-Listings Container -->
<div class="Container-fluid m-5 p-0">
	<div class="row">
		<!-- Profil -->
		<div class="col-3">
			<form class="" action="/profile?_method=patch" method="post">
				<h1>Profil</h1>
				<hr>
				<p>Name</p>
				<input class="p-0 mb-3" type="text" name="name" value="{{user.name}}">
				<p>Email</p>
				<input class="p-0 mb-3" type="text" name="email" value="{{user.email}}">
				<p>Profil Picture</p>
				<span>
					<img src="{{user.avatar}}" class="rounded-circle" height="40px" alt="avatar" >
				</span>
				<input class="mt-1" type="text" name="avatar" value="{{user.avatar}}">
				<button class="btn btn-outline-primary mt-3">Submit Changes</button>
			</form>
		</div>
		<!-- My-Listings Container -->
		<div class="col-9">
			<form class="" action="/profile" method="get">
				<h1>My Listings</h1>
				<hr>
				<button type="button "class="btn btn-outline-primary mb-3">List a House</button>
				{{#if houses}}
					{{#each houses as |house|}}
					<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
							<div class="card w-100" style="width: 18rem;">
									<a href="/houses/{{house._id}}">
										<img src="{{house.photos.[0]}}" class="card-img-top" alt="...">
									</a>
									<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{house.location}} <strong>·</strong> {{house.rooms}} Rooms</h6>
											<h5 class="card-title">{{house.title}}</h5>
											<small><i class="fas fa-thumbs-up green"></i> 3 Reviews</small>
											<small>{{house.price}} $/night</small>
									</div>
							</div>
					</div>
					{{/each}}
				{{else}}
				<textarea class="form-control" aria-label="With textarea">You have no Houses listed</textarea>
				{{/if}}
			</form>
		</div>

	</div>
</div>
