	{{> nav}}
		<!-- NavBar Filter/Search-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light m-auto">
			<div class="container-fluid">
				<form class="d-flex">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1">@</span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Any Location</option>
							<option>Koh Phangan</option>
							<option>Koh Samui</option>
							<option>Bali</option>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-text" id="basic-addon1">@</span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Any Rooms</option>
							<option value="1">1 room</option>
							<option value="2">2 rooms</option>
							<option value="3">3 rooms</option>
							<option value="4">4 rooms</option>
							<option value="5">5 rooms</option>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-text" id="basic-addon1">@</span>
						<input type="number" class="form-control" placeholder="Max Price" aria-label="Username" aria-describedby="basic-addon1">
					</div>

					<div class="input-group">
						<span class="input-group-text" id="basic-addon1">@</span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Price (low to high)</option>
							<option value="1">Price (high to low)</option>
						</select>
					</div>

					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>

			</div>
		</nav>
		<!-- Results Container-->
		<div>
			<!-- 1st Row of Results -->
			<div class="container">
				<div class="row align-items-start">
					<div class="row gy-4">
						{{#each houses as |house|}}
						<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
								<div class="card w-100" style="width: 18rem;">
										<a href="/houses/{{house._id}}">
											<img src="{{house.photos.[0]}}" class="card-img-top" alt="...">
										</a>
										<div class="card-body">
												<h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{house.location}} <strong>·</strong> {{house.rooms}} Rooms</h6>
												<h5 class="card-title">{{house.title}}</h5>
												<small><i class="fas fa-thumbs-up green"></i> 3 Reviews</small>
												<small>{{house.price}} $/night</small>
										</div>
								</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
